.hide {
    display: none;
}

.weather_data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.weather_data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.weather_data h2 svg {
    font-size: 1.5rem;
}

.weather_data h2 img {
    width: 40px;
}

.weather_data h2 span {
    margin: 0.6rem;
}

.weather span {
    font-size: 2.5rem;
}

.weather svg {
    font-size: 3rem;
}

.description_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

.details_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_container svg {
    font-size: 2.5rem;
}

.details_container .humidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}
